/* Semantic Html Styling */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: hdr;
}

.nav {
    display: none;
    width: 100%;
    height: 6%;
    position: fixed;
    z-index: 1;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

.main {
    gap: 20em;
    height: 100%;
    justify-content: center;
    grid-area: main;
}

.footer {
    justify-content: space-between;
    align-items: end;
    padding: 0.1em;
    grid-area: ftr;
}

/* Header Related Styling */

.main-title {
    background-image: url(https://media.graphassets.com/resize=fit:clip,height:720,width:1280/output=format:webp/3jpQ4ljjRcGCAfNdzVUG);
    background-color: rgba(255, 255, 255, 0.253);
    color: transparent;
    background-clip: text;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12em;
    text-align: center;
    filter: contrast(1);

    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, -0.003,
            0, 0, 1, 0,
            0, 0, 0, 1.5);
}

/* Nav Related Styling */
@keyframes drop-down-nav {
    0% {
        transform: translateY(-5em);
    }
    100% {
        transform: translateY(0em);
    }
}

@keyframes reverse-drop-down-nav {
    0% {
        transform: translateY(0em);
    }
    100% {
        transform: translateY(-5em);
    }
}

.nav-container {
    width: 100%;
    align-items: center;
    border-bottom: 1px grey solid;
    background-color: rgb(31, 31, 31);
}

.home-div {
    width: 25%;
    height: 100%;
}

.home-div a {
    height: 100%;
    padding-left: 1em;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.home-div a span {
    font-size: 1.8em;
}

.links-div {
    width: 75%;
    height: 100%;
}

.your-hours-div {
    text-align: center;
    width: 50%;
    transition-duration: 700ms;
    z-index: 2;
}

.date-and-times-div {
    text-align: center;
    width: 50%;
    transition-duration: 700ms;
}

.your-hours-div:hover {
    background-color: grey;
    transform: translateY(0.2em) scale(1.1);
}

.date-and-times-div:hover {
    background-color: grey;
    transform: translateY(0.2em) scale(1.1);
}

.your-hours-div::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: grey;
    z-index: -99;
}

.date-and-times-div::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: grey;
    z-index: 0;
}

.your-hours-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-decoration: none;
}

.date-and-times-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .main-title {
        -webkit-text-stroke: 2px white;
    }

    .home-div a:visited {
        color: white;
    }

    .home-div a:link {
        color: white;
    }

    .your-hours-div a:visited {
        color: white;
    }

    .your-hours-div a:link {
        color: white;
    }

    .date-and-times-div a:visited {
        color: white;
    }

    .date-and-times-div a:link {
        color: white;
    }

    .footer a:link {
        color: white;
    }

    .footer a:visited {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    .main-title {
        -webkit-text-stroke: 2px black;
    }

    .home-div a:visited {
        color: black;
    }

    .home-div a:link {
        color: black;
    }

    .your-hours-div a:visited {
        color: black;
    }

    .date-and-times-div a:visited {
        color: black;
    }

    .date-and-times-div a:link {
        color: black;
    }

    .your-hours-div a:link {
        color: black;
    }

    .footer a:link {
        color: black;
    }

    .footer a:visited {
        color: black;
    }
}

/* Main Related Styling */

/* Main Background */

.main::before {
    display: block;
    position: absolute;
    content: "";
    width: 110%;
    height: 225%;
    filter: blur(3em);
    z-index: -2;
    background: linear-gradient(to bottom, rgba(0, 119, 119, 0.062), rgba(102, 60, 255, 0.137));
}

.hours-div-container.color::before,
.hours-div-container.color::after,
.dates-div-container.color::before,
.dates-div-container.color::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 40em;
    height: 40em;
    min-width: 40em;
    min-height: 40em;
    border-radius: 100%;

    filter: blur(10em);
    z-index: -1;
}

.hours-div-container.color::before {
    transform: translateX(15em) translateY(20em);
    background: linear-gradient(to top right, rgba(255, 145, 0, 0.219) 50%, rgba(251, 255, 192, 0.233) 50%);
}

.hours-div-container.color::after {
    transform: translateX(-20em) translateY(-5em);
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.2) 50%, rgba(255, 0, 0, 0.2) 50%);
}

.dates-div-container.color::before {
    transform: translateX(-15em) translateY(-30em);
    background: linear-gradient(to top right, rgba(255, 117, 181, 0.219) 50%, rgba(0, 255, 255, 0.233) 50%);
}

.dates-div-container.color::after {
    transform: translateX(10em) translateY(5em);
    background: linear-gradient(to right, rgba(0, 238, 255, 0.219) 50%, rgba(61, 255, 55, 0.233) 50%);
}

/* Main Content */

.hours-div-container {
    width: 60%;
    align-items: center;
    gap: 10em;
    opacity: 0;
    transition-duration: 2s;
}

.hours-div-container.visible {
    opacity: 1;
}

.hours-div-container h2 {
    width: fit-content;
    text-align: center;
    font-size: 5em;
}

.hours-div {
    justify-content: space-evenly;
    width: 50%;
    height: 30em;
    min-width: 90ch;
    min-height: fit-content;
    padding-left: 5em;
    padding-right: 5em;
}

.hours-div p {
    font-size: 3em;
}

.dates-div-container {
    width: 60%;
    opacity: 0;
    transition-duration: 2s;
    align-items: center;
}

.dates-div-container.visible {
    opacity: 1;
}

.dates-div-container h2 {
    width: fit-content;
    text-align: center;
    font-size: 5em;
}

.dates-div {
    justify-content: space-evenly;
    width: 50%;
    height: fit-content;
    min-width: 90ch;
    min-height: fit-content;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 5em;
    padding-right: 5em;
}

.dates-div p {
    font-size: 3em;
}

/* Footer Related Styling */

.footer a {
    text-decoration: none;
    transition-duration: 0.7s;
}

.footer a:hover {
    color: red;
}