name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      name: Checkout code
    - name: Build
      run: cargo build --verbose
    - name: Run Tests
      run: cargo test t_ --verbose
    - name: Run Clippy
      run: cargo clippy --verbose -- -D warnings
